<div class="card" id="form">
    <div class="card-header">
        <h3>Create a Post</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="Title">Title of Post</label>
                <br>
                <input type="text" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="Post">Post Content</label>
                <br>
                <input type="text" placeholder="Content">
            </div>
            <div class="form-group">
                <label for="Author">Author</label>
                <br>
                <input type="text" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
                <br>
                <select name="Category">
                    <option>Category 1</option>
                    <option>Category 2</option>
                    <option>Category 3</option>
                </select>
            </div>
            <hr>
            <button class="btn btn-primary">Post</button>
        </form>
    </div>
</div>