<div class="card" id="form" type="button" data-toggle="modal" tabindex="1" data-target="#exampleModalScrollable">
    <div class="card-header">
        <h5>Create a Post</h5>
    </div>
    <div class="card-body">
        <div>
            <p>Create a post and choose a category to post it under!</p>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Title">Title of Post</label>
                        <br>
                        <input type="text" placeholder="Title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Post">Post Content</label>
                        <br>
                        <textarea class="form-control" id="message-text" placeholder="Content"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Author">Author</label>
                        <br>
                        <input type="text" placeholder="Author" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Category">Category</label>
                        <br>
                        <select name="Category">
                            <option>Category 1</option>
                            <option>Category 2</option>
                            <option>Category 3</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">Post</button>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div> --}}
{{!-- <div class="container">
    <button type="button" class="btn btn-primary mt-10">Start New Discussion</button>
</div> --}}
<div></div>
<br><br>
<div class="container">
    <button type="button" class="btn btn-primary mt-10" id="newDiscussion"><i class="fas fa-plus"></i> Start New
        Discussion</button>
</div>
<br>
<br>

<div class="container">

    <h5>Category</h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Sport
            <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Gaming
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Programming
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Food
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            General
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
=======
</div> 
>>>>>>> 3bc342233f596dd43783719022f570bf9ab5330c
