{{> _navbar}}
<div class="fluid-container">
    <div class="row">
        <div class="col-sm-3">
            {{> _postform}}
        </div>
        <div class="col-sm-9">
            {{> _post}}
        </div>
    </div>
</div>