.list-group-item {
  line-height: 2.5;
}

#form {
  margin-left: 3%;
}

#post {
  margin-right: 2%;
}

#nav {
  margin-bottom: 3%;
}

#login {
  margin: 2%;
  padding: 2%;
}

#login-btn {
  padding-left: 3%;
  margin-left: 3%;
}

#CreateAcc-btn {
  padding-left: 3%;
  margin-left: 3%;
}

li {
  text-decoration: none;
  list-style: none;
}

#navbarSupportedContent {
  margin-right: 5%;
}
